<a href="https://colab.research.google.com/github/Sharzzdevise/Compiled-Python-basics/blob/Master/basic_python_compilations_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets

In [ ]:
colours = {"yellow", "green", "black", "blue", "ash"}
print(colours)

{'blue', 'black', 'ash', 'yellow', 'green'}

converting sequence or iterable to set

In [ ]:
colours = set(["yellow", "green", "black", "blue", "ash"])
print(colours)

{'blue', 'black', 'ash', 'yellow', 'green'}

In [ ]:
colours = set(["yellow", "green", "black", "blue", "ash"])
colours = list(colours)
print(colours)

['blue', 'black', 'ash', 'yellow', 'green']

In [ ]:
colours = set(["yellow", "green", "black", "blue", "ash"])
colours.add("brown")
print(colours)

{'blue', 'black', 'brown', 'ash', 'yellow', 'green'}

In [ ]:
colours = set(["yellow", "green", "black", "blue", "ash"])
colours.update("brown")
print(colours)

{'blue', 'black', 'w', 'b', 'o', 'r', 'ash', 'yellow', 'green', 'n'}

In [ ]:
colours = set(["yellow", "green", "black", "blue", "ash"])
print(len(colours))

5

set union

In [ ]:
A = {"blue", "black", "Green", "brown"}
B = {"Grey", "yellow", "white"}
print (A | B)
print(A.union(B))

{'blue', 'black', 'white', 'yellow', 'Green', 'brown', 'Grey'}
{'blue', 'black', 'white', 'yellow', 'Green', 'brown', 'Grey'}

set intersection

In [ ]:
A = {"blue", "black", "Green", "brown"}
B = {"grey", "black", "white"}
print(A & B)
print(A.intersection(B))

{'black'}
{'black'}

set difference

In [ ]:
from traitlets.utils.bunch import Bunch
A = {"blue", "black", "Green", "brown"}
B = {"grey", "black", "white"}
print( A - B)
print(A.difference(B))
print(A ^ B)
print(A.symmetric_difference(B))
print(A.symmetric_difference_update(B))

{'blue', 'Green', 'brown'}
{'blue', 'Green', 'brown'}
{'blue', 'grey', 'brown', 'white', 'Green'}
{'blue', 'grey', 'brown', 'white', 'Green'}
None

In [ ]:
A = {"blue", "black", "Green", "brown"}
B = {"grey", "black", "white"}
print(A.isdisjoint(B))

False

In [ ]:
A = {"blue", "black", "Green", "brown"}
B = {"blue", "black", "Green", "brown"}
print(A.isdisjoint(B))

False

In [ ]:
print("calculator program")
first_number = input("first number: ")
second_number = input("second number: ")
print(first_number + second_number)

calculator program
first number: 45
second number: 56
4556

In [ ]:
print("Welcome to the greeter program")
name = input("Enter your name ")
print("Greetings: " + name)

Welcome to the greeter program
Enter your name Sharon
Greetings: Sharon

Dictionaries

In [1]:
employee_1 = {'Name': 'Grace', 'Job': 'AI Scientist', 'Age': 23, 'Location':'Lagos'}
print(employee_1)

{'Name': 'Grace', 'Job': 'AI Scientist', 'Age': 23, 'Location': 'Lagos'}

Another method of applying dict()

In [3]:
key = ['Name', 'Age', 'Location', 'Grade']
value = ['Grace','26','Lagos','Distinction']
biodata = dict(zip(key, value))
print(biodata)

{'Name': 'Grace', 'Age': '26', 'Location': 'Lagos', 'Grade': 'Distinction'}

In [4]:
employee_1 = {'Name': 'Grace', 'Job': 'AI Scientist', 'Age': 23, 'Location':'Lagos'}
print(employee_1.get('Name'))

Grace

Adding a new key to the dictionary

In [5]:
employee_1 = {'Name': 'Grace', 'Job': 'AI Scientist', 'Age': 23, 'Location':'Lagos'}
employee_1['Name'] = "Sharon"
print(employee_1)

{'Name': 'Sharon', 'Job': 'AI Scientist', 'Age': 23, 'Location': 'Lagos'}

Merge two dictionaries

In [7]:
employee_1 = {'Name':'Grace', 'Job':'AI Scientist','Age': 23, 'Location': 'Lagos'}
employee_2 = {'Name':'Grace', 'Job':'AI Scientist','Age': 30, 'Location': 'Lagos'}
employee_1.update(employee_2)
print(employee_1)

{'Name': 'Grace', 'Job': 'AI Scientist', 'Age': 30, 'Location': 'Lagos'}

Remove Dictionary Item

Remove an Item by Key

If you know the key of the item you want, you can use the pop() method. It removes the key and returns its value.

In [9]:
employee_2 = {'Name':'Grace', 'Job':'AI Scientist','Age': 30, 'Location': 'Lagos'}
x = employee_2.pop('Age')
print(x)
print(employee_2)

30
{'Name': 'Grace', 'Job': 'AI Scientist', 'Location': 'Lagos'}

In [10]:
employee_2 = {'Name':'Grace', 'Job':'AI Scientist','Age': 30, 'Location': 'Lagos'}
employee_2.clear()
print(employee_2)

{}

While loop

In [12]:
x = 10
while x>0:
  print(x)
  x = x-1
print("go!")

10
9
8
7
6
5
4
3
2
1
go!

The Python Break and Continue Statements

In [ ]:
x = 0
n = 10
while x<=n:
  print(x)
  if x==4:
    break
    x = x + 1

This time, when n is 2, the continue statement causes termination of that iteration. Thus, 2 isnâ€™t printed. Execution returns to the top of the loop, the condition is re-evaluated, and it is still true. The loop resumes, terminating when n becomes 0, as previously.

In [18]:
n = 5 
while n>0:
  n-=1
  if n==2:
    continue
    print(n)
    print('Loop ended.')