<a href="https://colab.research.google.com/github/Sharzzdevise/Compiled-Python-basics-1/blob/Master/Python_basics_1(compilation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

arr6 = np.linspace(0, 5, 3) 
print(arr6)

[0.  2.5 5. ]

In [ ]:
import numpy as np
arr2 = [[1, 2, 3],        [4, 0, 6]] 
print(np.sum(arr2, axis=1))

[ 6 10]

In [ ]:
import numpy as np

l1 = [1, 2, 3, 4]
print(l1 * 2)
arr = np.array(l1)
print(arr * 2)

[1, 2, 3, 4, 1, 2, 3, 4]
[2 4 6 8]

String concatenation
string = characters between quotes

In [10]:
first_name = "Ifeanyichukwu"
last_name = "Adeleke"
full_name = "first_name"+ " " + "last_name"
print(full_name)

first_name last_name

Formatting strings

In [ ]:
first_name = "Femi"
print('My name is {}' .format(first_name))

My name is Femi

Fstrings (shortcut)

In [2]:
first_name = "Sharon"
print(f"Hello, my name is {first_name}")

Hello, my name is Sharon

String index

In [8]:
word = "Hodkinson"
print(word[0])

H

String slicing

In [9]:
word = "Hodkinson"
print(word[0:5])

Hodki

String manipulation
title()

In [11]:
first_name = "sharon"
print(first_name.title())

Sharon

string manipulations

In [12]:
word = "Sharon will be a great woman"
print(word.upper())

SHARON WILL BE A GREAT WOMAN

In [13]:
word = "Sharon will be a great woman"
print(word.lower())

sharon will be a great woman

In [14]:
word ="Sharon is great!"
print(word.replace('!','.'))

Sharon is great.

In [15]:
word = "Sharon will be a great woman"
print(word.find('great'))

17

In [22]:
word = "Sharon will be a great woman"
print(word.find('woman'))

23

Conditional statements (if and else)

In [23]:
x = 10
y = 4
if x > y:
 print("x is greater than y" )

x is greater than y

In [24]:
x = 1
y = 4
if x > y:
  print("x is greater than y")
else:
   print("x is less than y")

x is less than y

In [25]:
x = 1
y = 3
if x > y:
  print("x is greater than y")
elif x == y:
  print("x is equal to y")
else:
  print("y is greater than x")

y is greater than x

List manipulation

In [29]:
names = ["Sharon", "Prosper", "Handel"]
print(names[2])

Handel

In [30]:
list1 = [2, 9.7, "word", True]
print(list1[0:2])

[2, 9.7]

In [33]:
list2 = ["cat", "dog",["crocodile", "fish"], 70, 90]
print(list2[2])

['crocodile', 'fish']

In [34]:
list1 = [2, 9.7, "word", True]
list2 = ["cat", "dog",["crocodile", "fish"], 70, 90]
list2 = list1[2]
print(list2[0])

w

Updating records

In [36]:
student1 = ["Godwin", 24, "Computer science"]
print(student1)
student1[1] = 25
print(student1)

['Godwin', 24, 'Computer science']
['Godwin', 25, 'Computer science']

Sorting

In [37]:
prices =[2.5, 3.5, 0.45, 7.85, 1.48]
prices.sort()
print(prices)

[0.45, 1.48, 2.5, 3.5, 7.85]

In [40]:
prices =[2.5, 3.5, 0.45, 7.85, 1.48]
prices.sort(reverse = True)
print(prices)

[7.85, 3.5, 2.5, 1.48, 0.45]

Detecting Type

In [41]:
list1 = [2, 9.7, "word", True]
print(type(list1))

<class 'list'>

Append method

In [42]:
Days = ["Monday", "Tuesday", "Thursday"]
Days.append("Wednesday")
print(Days)

['Monday', 'Tuesday', 'Thursday', 'Wednesday']

Extend method

In [43]:
Days = ["Monday", "Tuesday", "Thursday"]
Days.extend(["Wednesday", "Friday"])
print(Days)

['Monday', 'Tuesday', 'Thursday', 'Wednesday', 'Friday']

Index method

In [45]:
Days = ["Monday", "Tuesday", "Thursday"]
print(Days.index("Tuesday"))

1

len() function

In [49]:
Days = ["Monday", "Tuesday", "Thursday"]
print(len(Days))

3

Max and min function

In [50]:
Ages = [3, 4, 5, 7, 8, 9]
print("{} is the highest age in the group". format(max(Ages)))

9 is the highest age in the group

In [2]:
Ages = [3, 4, 5, 7, 8, 9]
print("The smallest age in the group is {}".format(min(Ages)))

The smallest age in the group is 3

Tuples

In [3]:
scores = (2.5, 2.6, 4.6, 8.7, 9, 1.0, 3.8)
print(scores[4])

9

In [4]:
scores1 = (2.5, 2.6, 4.6, 8.7, 9, 1.0, 3.8)
scores2 = (3.4, 5.6, 1, 4, 7, 6, 4.8)
new_scores = scores1 + scores2
print(new_scores)

(2.5, 2.6, 4.6, 8.7, 9, 1.0, 3.8, 3.4, 5.6, 1, 4, 7, 6, 4.8)